.idea
cvat
counterpick/app
counterpick/ml/images
counterpick/ml/labels
counterpick/ml/runs/detect/train
!counterpick/ml/runs/detect/train/weights/
!counterpick/ml/runs/detect/train/weights/**
.venv